body {
    background-color: rgb(163, 202, 211);
}

header {
    position: sticky;
    top: 0px;
    background-color: rgb(68, 146, 224);
}
.header-content {
    position: relative;
}
.about-me {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 3px;
    border: 2px;
    padding: 3px;
    
}
.contact-me {
    display: inline-block;
    margin: 2px;
    border: 2px;
    border-style: solid;
    border-color: rgb(52, 23, 107);
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    right: 100px;
}
.places {
    display: inline-block;
    margin: 2px;
    border: 2px;
    border-style: solid;
    border-color: rgb(52, 23, 107);
    position: absolute;
    right: 0px;
    border-radius: 5px;
    padding: 3px;
}
.title{
    font-family: 'Rubik Vinyl', cursive;
}
img{
    height: 200px;
}
#lefimg{
    border-style:solid;
    border-radius:4px;
    border-color:red;
}
#middleimg{
border-style: solid;
border-radius: 100%;
border-width: 2px;
border-color: rgb(38, 90, 135);
}
li:nth-child(2){
    font-family: 'Rubik Vinyl', cursive;
}
li:nth-child(3){
    font-weight: bold;
}
a:visited{
    color: purple;
}
a:link{
    color: blue;
}
a:active{
    color: red;
}
button{
    cursor: pointer;
    color: white;
    background-color: blue;
    padding: 8px;
}
button:hover{
    background-color: darkblue;
    padding: 8px;
}
.button{
    display: inline-block;
    text-align: center;
    margin-left: 50%;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;   
}
.footer-content {
    position: relative;
    background-color: rgb(89, 38, 130);
}
.my-name {
    position: 'absolute';
    left: 0px;
    bottom: 0px;
    display: inline;
    color: aliceblue;
}
.date-created {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: inline;
    color: aliceblue;
}